{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'task-create' %}" class="btn btn-primary link-to-page">
      ADD TASK
    </a>
  </h1>
  <br>
{% if task_list %}
  <div>
  <hr>
    {% for task in task_list %}
      <h2><strong>{{ task.content }}</strong></h2>
        {% if task.is_done %}
          <p>✅ Done!<a href="{% url 'task-status-change' pk=task.pk %}" class="btn btn-secondary link-to-page">Undo</a></p>
        {% else %}
          <p>⏳ in process...<a href="{% url 'task-status-change' pk=task.pk %}" class="btn btn-success link-to-page">Complete</a></p>
        {% endif %}
      <p>
        Created at {{ task.datetime }}
        {% if task.deadline != None %}
          Deadline: {{ task.deadline }}
        {% endif %}
      </p>
      <p>
        Tags:
        {% for tag in task.tags.all %}
          {{ tag }}
        {% endfor %}
        <a href="{% url 'task-update' pk=task.pk %}" class="btn btn-link">Update</a>
        <a href="{% url 'task-delete' pk=task.pk %}" class="btn btn-link">Delete</a>
      </p>
      <hr>
      {% endfor %}
  {% else %}
      <p>There are no tasks.</p>
  {% endif %}
  </div>
{% endblock %}
